.footer {
  background-color: $light-gray;
  height: 60px;
}

.footer__data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: $primary;
  line-height: 22px;
  font-style: italic;
  height: 100%;
}
